*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.container{
    height: 100vh;
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.calculator{
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(187, 130, 130);
    background-color: #fff;
    #display{
        color: black;
        margin: 0 10px;
        height: 100px;
        width: auto;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        font-size: 35px;
        margin-bottom: 20px;
        font-weight: 800px;
    }
    #clear{
        background-color: #008751;
        color: white;
    }
    .btn-number{
        background-color: #4FBD91;
        color: white;
    }
    .btn-operator{
        background-color: #00B09B;
        color: white; 
    }
    .btn-equal{
        background-color: #43B051;
        color: white; 
    }
    #equal{
        height: 130px;
        border-radius: 30%;
    }
    /*dark them*/
    &.dark{
        background-color: #181818;
        #display{
            color: white;
        }
        #clear{
            background-color:#2A0D36 ;
            color: white;
        }
        .btn-number{
            background: #AA37DB;
            color: white;
        }
        .btn-operator{
            background: #5B1D75;
            color: white;
        }
        .btn-equal{
            background: #230039;
            color: white;
        }
    }
    }

    .theme-toggler{
        position: absolute;
        top: 30px;
        right: 30px;
        color: #fff;
        cursor: pointer;
        z-index: 1;
        &::before{

            content: '';
            position: absolute;
            height: 30px;
            width: 30px;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            background-color: #333;
            z-index: -1;
        }
    }

.theme-toggler .active{
    color: #333;
    &::before{
        background-color: #333;
    }
}
button{
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 50%;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 1s ease;
    &:hover{
        transform: scale(1.1);
    }
}